
/* to use this styles, we need to rename the file name and add .module
So that if we call the same class name anywhere in the project, it doesn't overlap */

/* Use camel notation */
.listGroup {
    list-style: none;
    padding: 0;
}

.container {
    background-color: yellow;
}